@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,700&display=swap&subset=latin-ext");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rajdhani", sans-serif;
  font-size: 10px;
}

.container {
  padding-top: 60px;
}

.min-container {
  padding-top: 60px;
  min-height: 100vh;
}

.bold {
  font-weight: 600;
}

.right {
  text-align: right;
}

.blue-gradient {
  background: linear-gradient(
    338deg,
    rgba(17, 97, 135, 1) 0%,
    rgba(10, 174, 251, 1) 100%
  ) !important;
  color: white;
}

.gray-gradnient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(182, 182, 182, 1) 100%
  ) !important;
  color: black;
}

.loading {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
  padding: 90px 0 20px;
}

.loading img {
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #222;
  color: white;
  position: relative;
  z-index: 100;
}

.footer-text {
  font-size: 1.5rem;
  margin-right: 30px;
}

.footer-logo {
  width: 150px;
}

.footer-logo-image {
  width: 100%;
}

@media (max-width: 500px) {
  .footer-text {
    font-size: 1.2rem;
    margin-right: 10px;
  }
}
