.dashboard-logo {
  height: 30vw;
  min-height: 400px;
  background-image: url("../../images//dashboard-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-logo img {
  width: 30%;
  min-width: 400px;
}

.dashboard-section {
  padding: 70px 15%;
}

.section-before {
  width: 10px;
  background: linear-gradient(
    338deg,
    rgba(17, 97, 135, 1) 0%,
    rgba(10, 174, 251, 1) 100%
  );
  margin-right: 15px;
  border-radius: 10px;
}

.dashboard-section h1,
.dashboard-substances h1,
.dashboard-cities-container h1 {
  display: flex;
  position: relative;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.dashboard-section p,
.dashboard-substances p {
  font-size: 2rem;
}

.dashboard-substances {
  padding: 50px 15%;
  background-image: url("../../images//subs.png");
  color: white;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: 170% 20%;
}

.dashboard-substances-belt {
  display: flex;
  justify-content: center;
}

.dashboard-substances-item {
  width: 12.5%;
  padding: 1.25%;
  max-width: 150px;
}

.dashboard-substances-circle {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background: linear-gradient(
    338deg,
    rgba(17, 97, 135, 1) 0%,
    rgba(10, 174, 251, 1) 100%
  );
  border-radius: 50%;
  margin-bottom: 20px;
}

.dashboard-substances-circle p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  font-weight: 600;
}

.dashboard-substances-desc {
  text-align: center;
}

.dashboard-smog-desc {
  padding: 50px 15%;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(
    338deg,
    rgba(17, 97, 135, 1) 0%,
    rgba(10, 174, 251, 1) 100%
  );
  color: white;
}

.dashboard-somg-item {
  width: 50%;
  padding: 0 20px;
  max-width: 600px;
}

.dashboard-somg-item h1 {
  font-size: 4.5rem;
  margin-bottom: 20px;
}

.smog-section {
  padding: 0 20px;
  margin-bottom: 25px;
}

.smog-section h2 {
  font-size: 2rem;
}

.smog-section p {
  font-size: 1.8rem;
}

.dashboard-cities-container {
  padding: 50px 15%;
}

.dashboard-cities {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.dashboard-cities-item {
  width: 20%;
  max-width: 250px;
  padding: 25px;
  text-align: center;
}

.dashboard-cities-item-circle {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: red;
  border-radius: 50%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

.dashboard-cities-item h2 {
  font-size: 2rem;
  margin-bottom: -5px;
}

.dashboard-cities-item p {
  font-size: 1.6rem;
}

.dashboard-cities-item-circle img {
  position: absolute;
}

@media (max-width: 1400px) {
  .dashboard-smog-desc {
    padding: 50px;
  }
}

@media (max-width: 1240px) {
  .dashboard-substances {
    padding: 50px 30px;
    background-size: 70%;
    background-position: 170% 20%;
  }

  .dashboard-substances-circle {
    margin-bottom: 10px;
  }

  .dashboard-smog-desc {
    padding: 50px 30px;
  }

  .dashboard-somg-item h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .smog-section {
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .smog-section h2 {
    font-size: 1.8rem;
  }

  .dashboard-cities-container {
    padding: 50px 30px;
  }

  .dashboard-cities-item {
    padding: 15px;
    padding-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .dashboard-substances {
    background-size: 80%;
    background-position: 210% 15%;
  }

  .dashboard-substances-circle p {
    font-size: 3rem;
  }

  .dashboard-substances-desc p {
    font-size: 1.5rem;
  }

  .dashboard-substances-desc p:last-child {
    margin-bottom: 20px;
  }

  .dashboard-smog-desc {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .dashboard-somg-item {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    margin-top: 15px;
    width: 100%;
  }

  .smog-section {
    text-align: left;
  }

  .dashboard-somg-item h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 800px) {
  .dashboard-section {
    padding: 70px 40px;
  }

  .dashboard-substances-belt {
    flex-wrap: wrap;
  }

  .dashboard-substances-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-substances-circle {
    width: 60%;
    padding-top: 60%;
  }

  .dashboard-cities {
    flex-direction: column;
    align-items: center;
  }

  .dashboard-cities-item {
    width: 50%;
    max-width: 300px;
  }

  .dashboard-cities-item-circle {
    border-radius: 0;
    padding-top: 70%;
    margin-bottom: 5px;
  }

  .dashboard-cities-container h1 {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .dashboard-logo {
    min-height: calc(100vh - 60px);
  }

  .dashboard-logo img {
    min-width: 300px;
  }

  .dashboard-substances-circle {
    width: 75%;
    padding-top: 75%;
  }

  .dashboard-cities-item {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .dashboard-section {
    padding: 50px 30px;
  }

  .dashboard-logo img {
    min-width: 250px;
  }

  .dashboard-section h1,
  .dashboard-substances h1 {
    font-size: 2.3rem;
    margin-bottom: 20px;
  }

  .dashboard-cities-container h1 {
    font-size: 2.3rem;
  }

  .dashboard-substances-item {
    width: 50%;
  }

  .dashboard-somg-item {
    padding-left: 0;
    padding-right: 0;
  }

  .dashboard-somg-item h1 {
    font-size: 2.6rem;
  }

  .dashboard-cities-item {
    width: 90%;
  }

  .dashboard-cities-container {
    padding-bottom: 25px;
  }
}
