.dashboard-logo {
  height: 30vw;
  min-height: 400px;
  background-image: url("../../images//dashboard-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-logo img {
  width: 30%;
  min-width: 400px;
}

.dashboard-section {
  padding: 70px 15%;
}

.section-before {
  width: 10px;
  background: linear-gradient(
    338deg,
    rgba(17, 97, 135, 1) 0%,
    rgba(10, 174, 251, 1) 100%
  );
  margin-right: 15px;
  border-radius: 10px;
}

.dashboard-section h1,
.dashboard-substances h1,
.dashboard-cities-container h1 {
  display: flex;
  position: relative;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.dashboard-section h1 span,
.dashboard-substances h1 span,
.dashboard-cities-container span {
  padding-right: 8px;
}

.dashboard-section p,
.dashboard-substances p {
  font-size: 2rem;
}

.dashboard-substances {
  padding: 50px 15%;
  background-image: url("../../images//subs.png");
  color: white;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: 170% 20%;
}

.dashboard-substances-belt {
  display: flex;
  justify-content: center;
}

.dashboard-substances-item {
  width: 12.5%;
  padding: 1.25%;
  max-width: 150px;
}

.dashboard-substances-circle {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background: linear-gradient(
    338deg,
    rgba(17, 97, 135, 1) 0%,
    rgba(10, 174, 251, 1) 100%
  );
  border-radius: 50%;
  margin-bottom: 20px;
}

.dashboard-substances-circle p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  font-weight: 600;
}

.dashboard-substances-desc {
  text-align: center;
}

.dashboard-smog-desc {
  padding: 50px 15%;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(
    338deg,
    rgba(17, 97, 135, 1) 0%,
    rgba(10, 174, 251, 1) 100%
  );
  color: white;
}

.dashboard-somg-item {
  width: 50%;
  padding: 0 20px;
  max-width: 600px;
}

.dashboard-somg-item h1 {
  font-size: 4.5rem;
  margin-bottom: 20px;
}

.smog-section {
  padding: 0 20px;
  margin-bottom: 25px;
}

.smog-section h2 {
  font-size: 2rem;
}

.smog-section p {
  font-size: 1.8rem;
}

.dashboard-cities-container {
  padding: 50px 15%;
}

.dashboard-cities {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.dashboard-cities-item {
  width: 20%;
  max-width: 180px;
  padding: 25px;
  text-align: center;
}

.dashboard-cities-item-circle {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: red;
  border-radius: 50%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

.dashboard-cities-item h2 {
  font-size: 2rem;
  margin-bottom: -5px;
}

.dashboard-cities-item p {
  font-size: 1.6rem;
}

.dashboard-cities-item-circle img {
  position: absolute;
}
