.profile-navbar {
  position: fixed;
  height: calc(100vh - 60px);
  top: 60px;
  background-color: rgba(226, 225, 225, 0.6);
  width: 270px;
  color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  transition: width 0.15s ease;
}

.profile-navbar.min {
  width: 60px;
}

.profile-navbar-slide-icon-container {
  width: 100%;
  cursor: pointer;
  display: flex;
}

.profile-navbar-slide-icon {
  font-size: 3rem;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-navbar a,
.profile-navbar-logout {
  display: flex;
  width: 100%;
  height: 60px;
  text-decoration: none;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.profile-navbar a.active {
  background-color: #0aaefb !important;
}

.profile-navbar a.active .profile-navbar-icon,
.profile-navbar a.active p {
  color: white;
}

.profile-navbar a:hover,
.profile-navbar-logout:hover,
.profile-navbar-slide-icon-container:hover {
  background-color: rgba(206, 206, 206, 0.5);
}

.profile-navbar a .profile-navbar-icon,
.profile-navbar-logout .profile-navbar-icon {
  font-size: 2.5rem;
  width: 60px;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.4);
}

.profile-navbar a p,
.profile-navbar-logout p {
  position: absolute;
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  left: 60px;
  width: 180px;
}

.profile-navbar-slide-icon-container:hover,
.profile-navbar a:hover .profile-navbar-icon,
.profile-navbar a:hover p,
.profile-navbar-logout:hover p,
.profile-navbar-logout:hover .profile-navbar-icon {
  color: black;
}

.profile-navbar a.active:hover p,
.profile-navbar a.active:hover .profile-navbar-icon {
  color: white;
}
