.profile-navbar {
  position: fixed;
  height: calc(100vh - 60px);
  top: 60px;
  background-color: rgb(235, 235, 235);
  width: 270px;
  color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  transition: width 0.15s ease;
  z-index: 99;
}

.profile-navbar.min {
  width: 60px;
}

.profile-navbar-slide-icon-container {
  width: 100%;
  cursor: pointer;
  display: flex;
}

.profile-navbar-slide-icon {
  font-size: 3rem;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-navbar a,
.profile-navbar-logout {
  display: flex;
  width: 100%;
  height: 60px;
  text-decoration: none;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.profile-navbar a.active {
  background-color: #0aaefb !important;
}

.profile-navbar a.active .profile-navbar-icon,
.profile-navbar a.active p {
  color: white;
}

.profile-navbar a:hover,
.profile-navbar-logout:hover,
.profile-navbar-slide-icon-container:hover {
  background-color: rgba(206, 206, 206, 0.5);
}

.profile-navbar a .profile-navbar-icon,
.profile-navbar-logout .profile-navbar-icon {
  font-size: 2.5rem;
  width: 60px;
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.4);
}

.profile-navbar a p,
.profile-navbar-logout p {
  position: absolute;
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  left: 60px;
  width: 180px;
}

.profile-navbar-slide-icon-container:hover,
.profile-navbar a:hover .profile-navbar-icon,
.profile-navbar a:hover p,
.profile-navbar-logout:hover p,
.profile-navbar-logout:hover .profile-navbar-icon {
  color: black;
}

.profile-navbar a.active:hover p,
.profile-navbar a.active:hover .profile-navbar-icon {
  color: white;
}

.profile-navbar-mobile {
  width: 100%;
  position: fixed;
  top: 60px;
  height: 50px;
  background-color: rgb(235, 235, 235);
  left: 0;
  display: none;
  justify-content: center;
  z-index: 99;
}

.profile-navbar-mobile ul {
  display: flex;
  list-style: none;
}

.profile-navbar-mobile a,
.profile-navbar-mobile-logout {
  display: flex;
  height: 50px;
  width: 70px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 3rem;
  color: black;
}

.profile-navbar-mobile a.active {
  background-color: #0aaefb !important;
  color: white;
}

.profile-container {
  padding: 120px 120px 60px;
  background-color: #f8f8f8;
  position: relative;
  min-height: 100vh;
  height: 100%;
}

.profile-backrond {
  position: absolute;
  bottom: 0;
  right: 0;
  height: calc(100% - 60px);
  width: 40%;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  filter: grayscale(1);
  opacity: 0.6;
}

.profile-backrond::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(248, 248, 248, 1) 0%,
    rgba(248, 248, 248, 0) 100%
  );
}

.profile-title {
  position: relative;
  font-size: 4rem;
  font-weight: 300;
  z-index: 5;
}

.edit-profile {
  display: flex;
  padding: 40px 40px 0;
  position: relative;
  z-index: 10;
}

.edit-profile-image {
  width: 350px;
  height: 300px;
  background-color: rgba(240, 240, 240, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-profile-image-container {
  width: 60%;
  padding-top: 60%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
  position: relative;
}

.edit-profile-image h2 {
  font-size: 3.5rem;
  font-weight: 500;
}

.edit-profile-data {
  margin-left: 20px;
  font-size: 1.5rem;
  color: gray;
  display: flex;
  flex-direction: column;
}

.edit-profile-data form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.edit-profile-data form p {
  font-size: 2rem;
  cursor: pointer;
  align-self: flex-start;
  user-select: none;
}

.edit-profile-data form p:hover {
  text-decoration: underline;
}

.edit-profile-data form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.edit-profille-password span {
  position: absolute;
  top: 95%;
  color: red;
  font-size: 1.2rem;
  left: 0;
}

.edit-profile-data form label span {
  position: absolute;
  top: 90%;
  color: red;
  font-size: 1.2rem;
  left: 0;
}

.edit-profille-password {
  position: relative;
  display: flex;
  flex-direction: column;
}

.edit-profile-data input {
  outline: none;
  border: 2px solid #e2e2e2;
  padding: 5px 15px;
  margin-bottom: 5px;
  background-color: transparent;
}

.setting-buttons {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 30px;
}

.setting-buttons button {
  width: 160px;
  padding: 8px 0;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 5px 0;
  color: black;
  outline: none;
}

.edit-profile-image-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  background-color: #0aaefb;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.3rem;
  transition: background-color 0.3s ease;
}

.edit-profile-image-btn:hover {
  background-color: #1aa4e4;
}

.setting-buttons button.settings-save {
  background: linear-gradient(
    180deg,
    rgba(140, 218, 255, 1) 0%,
    rgba(0, 149, 219, 1) 100%
  );
  color: white;
}

.setting-buttons button.settings-delete {
  background: linear-gradient(
    360deg,
    rgba(210, 210, 210, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.settings-delete:hover,
.settings-save:hover {
  opacity: 0.8;
}

.select-profile-icon {
  position: absolute;
  width: 720px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  z-index: 40;
  padding: 10px;
}

.select-profile-icon h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}

.select-profile-icons {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.select-profile-icon-item {
  width: 120px;
  height: 120px;
  margin: 8px;
  background-color: black;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 1px 0 black;
}

.select-profile-icon-item.active {
  box-shadow: 0 0 1px 3px #1aa4e4;
}

.select-icon-pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 30;
}

.select-profile-icons-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px 10px;
}

.select-profile-icons-buttons button {
  width: 150px;
  padding: 5px 0;
  border-radius: 10px;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
  outline: none;
}

.select-profile-icons-buttons button:first-child {
  background: linear-gradient(
    180deg,
    rgba(140, 218, 255, 1) 0%,
    rgba(0, 149, 219, 1) 100%
  );
  color: white;
}

.select-profile-icons-buttons button:last-child {
  background: linear-gradient(
    360deg,
    rgba(210, 210, 210, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.select-profile-icons-buttons button:hover {
  opacity: 0.7;
}

.my-profile {
  padding: 30px;
  display: flex;
  position: relative;
  z-index: 20;
}

.my-profile-square {
  width: 500px;
  background-color: rgba(240, 240, 240, 0.6);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-profile-image-container {
  width: 240px;
  height: 240px;
  margin-bottom: 20px;
}

.my-profile-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.my-profile-square h1 {
  font-size: 4rem;
}

.my-profile-square h2 {
  font-weight: 400;
  font-size: 2rem;
}

.my-profile-square p {
  font-weight: 400;
  font-size: 1.5rem;
}

.my-profile-function {
  margin-left: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-profile-function-item a,
.my-profile-function-logout {
  background-color: rgba(240, 240, 240, 0.6);
  color: black;
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 3rem;
  cursor: pointer;
  padding: 20px;
}

.my-profile-function-item a:hover,
.my-profile-function-logout:hover {
  background-color: rgba(224, 224, 224, 0.6);
}

.likes-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.likes-item {
  display: flex;
  background-color: rgba(240, 240, 240, 0.6);
  align-items: center;
  padding: 5px 10px;
  min-width: 300px;
  position: relative;
  z-index: 10;
  margin: 15px;
}

.likes-item-icon {
  font-size: 3rem;
  color: rgb(241, 176, 9);
  margin-right: 15px;
  cursor: pointer;
}

.likes-item-text {
  flex-grow: 1;
  cursor: pointer;
}

.likes-item-text h1 {
  font-size: 2.5rem;
}

.likes-item-text p {
  font-size: 1.5rem;
  margin-top: -5px;
}

.profile-news-container {
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  position: relative;
  z-index: 20;
}

.profile-news-container form {
  display: block;
  width: 100%;
}

.profile-news-title p,
.profile-news-image p,
.profile-news-text p {
  font-size: 1.7rem;
  padding-left: 15px;
}

.profile-news-image {
  position: relative;
  margin-bottom: 30px;
}

.profile-news-image .news-error {
  top: 100%;
}

.profile-news-title input,
.profile-news-image input {
  width: 100%;
  font-size: 2rem;
  padding: 10px 20px;
  outline: none;
  border-radius: 20px;
  border: none;
}

.profile-news-title input {
  margin-bottom: 30px;
}

.profile-news-image-button {
  width: 160px;
  padding: 8px 0;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 5px 0;
  color: black;
  outline: none;
  background: linear-gradient(
    360deg,
    rgba(210, 210, 210, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  text-align: center;
  margin-bottom: 20px;
}

.profile-news-image-button:hover {
  opacity: 0.8;
}

.profile-news-image-container {
  width: 100%;
  padding-top: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

.profile-news-text textarea {
  width: 100%;
  padding: 15px;
  outline: none;
  height: 500px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  resize: none;
}

.profile-news-text .news-error {
  top: calc(100% - 22px);
}

.profile-news-container form button {
  width: 160px;
  padding: 8px 0;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 5px 0;
  outline: none;
  background: linear-gradient(
    180deg,
    rgba(140, 218, 255, 1) 0%,
    rgba(0, 149, 219, 1) 100%
  );
  color: white;
  text-align: center;
}

.profile-news-container label {
  position: relative;
}

.news-error {
  position: absolute;
  top: calc(100% + 13px);
  color: red;
  font-size: 1.1rem;
}

.activity-container {
  width: 100%;
  max-width: 800px;
  padding: 20px 30px;
}

.activity-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(240, 240, 240, 0.6);
  position: relative;
  z-index: 5;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.activity-item:hover {
  background-color: rgba(223, 223, 223, 0.6);
}

.activity-item-title {
  font-size: 1.5rem;
  color: black;
  padding-right: 15px;
  font-weight: 520;
  flex-grow: 1;
}

.activity-item-emote {
  width: 55px;
  height: 40px;
  padding-left: 15px;
  border-left: 1px solid white;
  flex-shrink: 0;
}

.activity-item-emote img {
  width: 100%;
}

@media (max-width: 1286px) {
  .likes-container {
    justify-content: center;
  }
}

@media (max-width: 1240px) {
  .edit-profile {
    flex-direction: column;
  }
  .edit-profile-data {
    margin: 0;
    padding-top: 30px;
  }
  .my-profile {
    flex-direction: column;
  }
  .my-profile-function {
    margin-left: 0;
    margin-top: 20px;
    width: 500px;
  }
  .my-profile-function-item {
    margin-bottom: 10px;
  }
}

@media (max-width: 960px) {
  .profile-navbar-mobile {
    display: flex;
  }
  .profile-navbar {
    display: none;
  }
  .profile-container {
    padding: 130px 20px 60px;
  }
  .profile-backrond {
    width: 60%;
  }
  .edit-profile {
    align-items: center;
  }
  .profile-title {
    text-align: center;
    font-weight: normal;
    color: black;
  }
  .my-profile {
    align-items: center;
  }
  .activity-container {
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .select-profile-icon {
    width: 500px;
  }

  .select-profile-icon-item {
    margin: 5px;
    width: 82.8px;
  }
}

@media (max-width: 600px) {
  .select-profile-icon {
    width: 400px;
  }

  .select-profile-icon-item {
    margin: 5px;
    width: 81px;
  }
}

@media (max-width: 600px) {
  .my-profile-function {
    width: 400px;
  }
  .my-profile-square {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .profile-navbar-mobile a,
  .profile-navbar-mobile-logout {
    width: 50px;
    font-size: 2.5rem;
  }
  .profile-backrond {
    width: 100%;
  }
  .edit-profile-data form {
    width: 300px;
  }
  .edit-profile-image {
    width: 300px;
    height: 260px;
  }
  .edit-profile-image h2 {
    font-size: 2.8rem;
  }
  .select-profile-icon {
    width: 320px;
  }

  .select-profile-icon-item {
    margin: 5px;
    width: 84.6px;
  }

  .my-profile-function {
    width: 320px;
  }
  .my-profile-square {
    width: 320px;
  }
  .my-profile-square h1 {
    font-size: 3rem;
  }
  .my-profile-square h2 {
    font-size: 1.7rem;
  }

  .my-profile-square p {
    font-size: 1.3rem;
  }

  .activity-item-title {
    font-size: 1.2rem;
  }

  .activity-container {
    padding-left: 0;
    padding-right: 0;
  }
}
