.pollution-container {
  position: relative;
  padding: 80px 50px;
  background-image: url("../../images/powerStation.jpg");
  background-position: center 70%;
  background-size: cover;
}

.pollution-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.35;
}

.polution-cover {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
}

.polution-cover form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  min-width: 350px;
}

.polution-form-item {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.polution-form-item label {
  color: white;
  font-size: 2.2rem;
  margin-bottom: 7px;
  padding-left: 10px;
  font-weight: 500;
}

.polution-form-item select {
  margin-bottom: 20px;
  font-size: 1.5rem;
  padding: 7px;
  outline: none;
}

.polution-form-item button {
  min-width: 30%;
  padding: 7px;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 20px;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  border: 1px solid black;
}

.pollution-desc {
  color: white;
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.pollution-desc p {
  text-align: right;
  width: 100%;
  font-weight: 300;
}

.pollution-result {
  padding: 50px 100px 10px 100px;
}

.pollution-result-name {
  margin-bottom: 25px;
}

.pollution-result-name h1 {
  font-size: 7rem;
  font-weight: 700;
}

.pollution-result-name p {
  font-size: 1.8rem;
  margin-top: -15px;
  font-weight: 500;
  padding-left: 3px;
}

.pollution-result-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pollution-result-card {
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0 25px;
  margin-bottom: 20px;
}

.pollution-card-desc h1 {
  font-size: 4rem;
  font-weight: 500;
  min-width: 140px;
}

.pollution-card-desc p {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: -10px;
}

.pollution-card-image {
  width: 70px;
  height: 70px;
  margin-left: 30px;
  margin-right: 10px;
}

.pollution-card-image img {
  width: 100%;
}

.pollution-card-color {
  position: absolute;
  background-color: orange;
  width: 86%;
  height: 50px;
  left: 7%;
  top: calc(100% - 6px);
  border-radius: 10px;
}

@media (max-width: 1400px) {
  .pollution-result {
    padding: 50px 40px 10px 40px;
  }
}

@media (max-width: 1240px) {
  .polution-cover form {
    width: 40%;
  }
  .polution-form-item button {
    min-width: 40%;
  }
  .pollution-result-card {
    margin: 0px 0 20px 10px;
  }
  .pollution-result {
    padding: 40px 20px 10px 20px;
  }
}

@media (max-width: 1024px) {
  .pollution-container {
    padding: 40px;
  }

  .polution-cover {
    flex-direction: column;
  }

  .pollution-desc {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .pollution-desc p {
    text-align: center;
  }

  .polution-cover form {
    order: 2;
  }
}

@media (max-width: 696px) {
  .pollution-result-cards {
    flex-direction: column;
    align-items: center;
  }
  .pollution-result-card {
    margin-left: 0;
  }
  .pollution-result-name {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .pollution-result-name h1 {
    font-size: 5rem;
  }
  .pollution-result-name p {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .polution-cover {
    align-items: center;
  }
  .pollution-desc p {
    font-size: 3rem;
  }
  .polution-form-item button {
    margin-top: 0;
  }
  .pollution-container {
    padding: 40px 10px;
  }
}

@media (max-width: 400px) {
  .pollution-desc p {
    font-size: 2.1rem;
  }

  .polution-cover form {
    min-width: 300px;
  }

  .polution-form-item label {
    font-size: 1.8rem;
  }
  .pollution-result-name h1 {
    font-size: 3.5rem;
  }
  .pollution-result-name p {
    font-size: 1.5rem;
    margin-top: -5px;
    margin-left: 0;
  }
  .pollution-card-desc h1 {
    font-size: 3rem;
    min-width: 115px;
  }
  .pollution-card-image {
    width: 60px;
    height: 60px;
    margin-left: 20px;
  }
  .pollution-card-desc p {
    font-size: 1.4rem;
  }
  .pollution-result {
    padding: 40px 10px 10px 10px;
  }
}
