.pollution-container {
  position: relative;
  padding: 80px 50px;
  background-image: url("../../images/powerStation.jpg");
  background-position: center 70%;
  background-size: cover;
}

.polution-cover {
  display: flex;
  width: 100%;
  height: 100%;
}

.polution-cover form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.polution-form-item {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.polution-form-item label {
  color: white;
  font-size: 2.2rem;
  margin-bottom: 7px;
  padding-left: 10px;
  font-weight: 500;
}

.polution-form-item select {
  margin-bottom: 20px;
  font-size: 1.5rem;
  padding: 7px;
  outline: none;
}

.polution-form-item button {
  min-width: 30%;
  padding: 7px;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 20px;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  border: 1px solid black;
}

.pollution-desc {
  color: white;
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.pollution-desc p {
  text-align: right;
  width: 100%;
  font-weight: 300;
}
