.pollution-container {
  position: relative;
  padding: 80px 50px;
  background-image: url("../../images/powerStation.jpg");
  background-position: center 70%;
  background-size: cover;
}

.pollution-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.35;
}

.polution-cover {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
}

.polution-cover form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.polution-form-item {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.polution-form-item label {
  color: white;
  font-size: 2.2rem;
  margin-bottom: 7px;
  padding-left: 10px;
  font-weight: 500;
}

.polution-form-item select {
  margin-bottom: 20px;
  font-size: 1.5rem;
  padding: 7px;
  outline: none;
}

.polution-form-item button {
  min-width: 30%;
  padding: 7px;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 20px;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  border: 1px solid black;
}

.pollution-desc {
  color: white;
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.pollution-desc p {
  text-align: right;
  width: 100%;
  font-weight: 300;
}

.pollution-result {
  padding: 50px 100px;
}

.pollution-result-name {
  min-width: 400px;
  margin-bottom: 25px;
}

.pollution-result-name h1 {
  font-size: 7rem;
  font-weight: 700;
}

.pollution-result-name p {
  font-size: 1.8rem;
  margin-top: -15px;
  font-weight: 500;
  padding-left: 3px;
}

.pollution-result-cards {
  display: flex;
}

.pollution-result-card {
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0 25px;
}

.pollution-card-desc h1 {
  font-size: 4rem;
  font-weight: 500;
  min-width: 120px;
}

.pollution-card-desc p {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: -10px;
}

.pollution-card-image {
  width: 30px;
  height: 30px;
  background-color: red;
  margin-left: 40px;
  margin-right: 10px;
}

.pollution-card-color {
  position: absolute;
  background-color: orange;
  width: 86%;
  height: 50px;
  left: 7%;
  top: calc(100% - 6px);
  border-radius: 10px;
}
